# 🚨 DO NOT STORE ANY SENSITIVE/PRIVATE INFORMATION IN ANY PYTHON FILE! 🚨

# example variable:
ENV_VAR_NAME=value  # use

############################### LOCAL/DEV SETUP ################################
# post the env vars you use for local setups here (drivepy, mysql, xampp, etc)

################################ TRAQ CLUSTER ##################################

# connecting to traq's database cluster ()via ssh tunnel)
TRAQ_CLUSTER_TUNNEL_HOST=
TRAQ_CLUSTER_TUNNEL_PORT=
TRAQ_CLUSTER_TUNNEL_USERNAME=
TRAQ_CLUSTER_TUNNEL_PASSWORD=

# port binding configs (if needed)
TRAQ_CLUSTER_TUNNEL_REMOTE_BIND_HOST=
TRAQ_CLUSTER_TUNNEL_REMOTE_BIND_PORT=
TRAQ_CLUSTER_TUNNEL_LOCAL_BIND_HOST=
TRAQ_CLUSTER_TUNNEL_LOCAL_BIND_PORT=

# traq database
TRAQ_CLUSTER_HOST=
TRAQ_CLUSTER_PORT=
TRAQ_CLUSTER_USERNAME=
TRAQ_CLUSTER_PASSWORD=
TRAQ_CLUSTER_DB=

############################### BIOMECH CLUSTER ################################

# biomech db READONLY
DO_BIOMECH_CLUSTER_READONLY_HOST=
DO_BIOMECH_CLUSTER_READONLY_PORT=
DO_BIOMECH_CLUSTER_READONLY_USERNAME=
DO_BIOMECH_CLUSTER_READONLY_PASSWORD=

# biomech db BATCH (for batch processing)
DO_BIOMECH_CLUSTER_BATCH_HOST=
DO_BIOMECH_CLUSTER_BATCH_PORT=
DO_BIOMECH_CLUSTER_BATCH_USERNAME=
DO_BIOMECH_CLUSTER_BATCH_PASSWORD=

# biomech cluster databases
DO_BIOMECH_CLUSTER_BIOMECHANICS_DB=biomech_db
DO_BIOMECH_CLUSTER_STATCAST_DB=statcast_db


################################# EDGE CLUSTER #################################

# edge cluster crentials
DO_EDGE_CLUSTER_DATAVIS_HOST=
DO_EDGE_CLUSTER_DATAVIS_PORT=
DO_EDGE_CLUSTER_DATAVIS_USERNAME=
DO_EDGE_CLUSTER_DATAVIS_PASSWORD=

# edge cluster databases
DO_EDGE_CLUSTER_DATAVISAPPS_DB=datavis_apps